<h1>Fuel Calculator</h1>
<mat-card>


    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline">
            <mat-label>Miles per gallon</mat-label>
            <input matInput type="number" formControlName="mpg">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fuel price</mat-label>
            <span matPrefix>£</span>
            <input matInput type="number" formControlName="fuelprice" placeholder="eg 1.29">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Distance</mat-label>
            <input matInput type="number" formControlName="distance" placeholder="miles">
            <span matSuffix>miles</span>
        </mat-form-field>    
    </form>

    <span class="result"><span>Journey cost: </span><span *ngIf="!formGroup.invalid" class=result-cost> {{journeyCost | currency}}</span></span>
</mat-card>
